@import "../../global.scss";
.menu {
  width: 300px;
  height: 100vh;
  background-color: $mainColor;
  position: fixed;
  top: 0;
  right: -500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
  @include mobile {
    width: 100%;
    height: 100%;
  }

  &.active {
    right: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;
    height: 80%;
    @include mobile {
      width: 60%;
      height: 70%;
    }

    li {
      margin-bottom: 25px;
      a {
        font-size: inherit;
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }
  .icons {
    display: inline-flex;
    column-gap: 25px;
    align-items: center;
    justify-content: center;
    height: 55px;
    width: 100%;
    @include mobile {
      height: 10%;
      align-items: center;
      justify-content: center;
      width: 45%;
    }
  }
  .icon {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
  }
  .icon:hover {
    outline-offset: 4px;
  }
  .icon:hover i {
    animation: shake 0.25s;
  }
  .icon--twitter:hover {
    background-color: #1da1f2;
    outline-color: #1da1f2;
  }
  .icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
  }
  .icon--github:hover {
    background-color: blue;
    outline-color: blue;
  }

  @keyframes shake {
    10% {
      transform: rotate(15deg);
    }

    20% {
      transform: rotate(-15deg);
    }

    30% {
      transform: rotate(15deg);
    }

    40% {
      transform: rotate(-15deg);
    }
  }
}
